<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.sharedevice.mapper.CabinetMapper">

    <resultMap id="BaseResultMap" type="com.share.sharedevice.entity.Cabinet">
            <id property="id" column="id" />
            <result property="cabinetNo" column="cabinet_no" />
            <result property="name" column="name" />
            <result property="cabinetTypeId" column="cabinet_type_id" />
            <result property="totalSlots" column="total_slots" />
            <result property="freeSlots" column="free_slots" />
            <result property="usedSlots" column="used_slots" />
            <result property="availableNum" column="available_num" />
            <result property="description" column="description" />
            <result property="locationId" column="location_id" />
            <result property="clientId" column="client_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="status" column="status" />
            <result property="delFlag" column="del_flag" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="Base_Column_List">
        id,cabinet_no,name,cabinet_type_id,total_slots,free_slots,
        used_slots,available_num,description,location_id,client_id,
        username,password,status,del_flag,create_by,
        create_time,update_by,update_time,remark
    </sql>


    <sql id="selectCabinetVo">
        select c.id, c.cabinet_no, c.name, c.cabinet_type_id, c.total_slots, c.free_slots, c.used_slots, c.available_num, c.description, c.location_id, c.status, c.del_flag, c.create_by, c.create_time, c.update_by, c.update_time, c.remark,
               ct.name as cabinet_type_name
        from cabinet c
                 left join cabinet_type ct on c.cabinet_type_id = ct.id
    </sql>


    <select id="selectListCabinet" resultType="com.share.sharedevice.entity.Cabinet"
            parameterType="com.share.sharedevice.entity.Cabinet">
        <include refid="selectCabinetVo"></include>
        <where>
            <if test="cabinetNo != null  and cabinetNo != ''"> and c.cabinet_no = #{cabinetNo}</if>
            <if test="name != null  and name != ''"> and c.name like concat('%', #{name}, '%')</if>
            <if test="cabinetTypeId != null "> and c.cabinet_type_id = #{cabinetTypeId}</if>
            <if test="status != null  and status != ''"> and c.status = #{status}</if>
            and c.del_flag = 0
            and ct.del_flag = 0
        </where>
    </select>
</mapper>
